<div id="users">  
  <table>
    <% @users.each do |user| %>
      <tr>
        <td style="width: 200px; border-bottom: thin solid;"><%= user.email %></td>
        <td style="width: 400px; border-bottom: thin solid;"><%= user.name %></td>
        <td style="border-bottom: thin solid;"><%= user.role %></td>
      </tr>
    <% end %>
  </table>  
</div>

<br>

<%= link_to "NOVO USUÃRIO", new_user_path %>
