body {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  padding: 0px 20px 10px 20px;
  line-height: 1;  
  background-color: #DFDFDF;  
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid;
  padding: 8px 3px;
}

a {
  text-decoration: none;
  color: #0000FF;
}

a:hover {
  text-decoration: underline;
}

#message {
  height: 70px;
}

#yield {
  position: absolute;
  top: 140px;
}

.form_spacing {
  padding-top: 30px;
}

.field {
  padding: 4px 0px;
}

.actions {
  padding-top: 10px;
}

.notice {
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  background-color: #006400;
  padding: 10px;
}

.alert {
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  background-color: #8B0000;
  padding: 10px;
}

.red {
  color: red;
}